{% include 'header.html' %}
{% block content %}
<style>
	body {
		color:azure;
      }
</style>

<br>
<div class="green-rect">
	<div class="blue-rect">
        <h1>Locations Locations Locations</h1>
    </div>
</div>
<hr>
<div class="row" style="text-align: center;">
	<div class="col-sm-1"></div>

	<div class="col-sm-10">
        <h1>Oh the Places You'll Go</h1>
        <div class="col-sm-3">
            {% for loc in first_col %}
                <a href="/locations/{{loc.id}}/" style="color:whitesmoke">
                    <h3>{{loc.name}}</h3>
                </a>
            {% endfor %}
        </div>
        <div class="col-sm-3">
            {% for loc in second_col %}
                <a href="/locations/{{loc.id}}/" style="color:whitesmoke">
                    <h3>{{loc.name}}</h3>
                </a>
            {% endfor %}
        </div>
        <div class="col-sm-3">
            {% for loc in third_col %}
                <a href="/locations/{{loc.id}}/" style="color:whitesmoke">
                    <h3>{{loc.name}}</h3>
                </a>
            {% endfor %}
        </div>
        <div class="col-sm-3">
            {% for loc in fourth_col %}
                <a href="/locations/{{loc.id}}/" style="color:whitesmoke">
                    <h3>{{loc.name}}</h3>
                </a>
            {% endfor %}
        </div>
    </div>

	<div class="col-sm-1"></div>
</div>
<hr>
{% endblock %}